################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs/
/.vs/MyFirstRepository/FileContentIndex/49e13b48-2580-496d-a869-a8a0b18d3bef.vsidx
/.vs/MyFirstRepository/FileContentIndex/49e13b48-2580-496d-a869-a8a0b18d3bef.vsidx
/.vs/MyFirstRepository/FileContentIndex/54da3269-7a66-472d-bd55-5047fc91d77c.vsidx
