################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs/
/.vs/MyFirstRepository/FileContentIndex/49e13b48-2580-496d-a869-a8a0b18d3bef.vsidx
