################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs/MyFirstRepository/FileContentIndex
/.vs/MyFirstRepository/FileContentIndex/12f53977-6d08-4b52-9e34-4068a177dccd.vsidx
